{
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "jest": true
    },
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "extends": [
        "eslint:recommended",
        "plugin:json/recommended"
    ],
    "rules": {
        "indent": ["error", 4, {"SwitchCase": 1}],
        "space-in-parens": ["warn", "never"],
        "max-len": ["warn", 120],
        "no-var": "warn",
        "no-console": "off",
        "no-invalid-this": "warn",
        "comma-dangle": ["error", "never"]
    }
}
